# NodeJS
.npm_cache
node_modules
npm-debug.log

# Src files
docs

# Build Files
.tmp
tmp
/s3
dist

# Test Files
coverage
report.xml
*.tap
/test/browserstack/app

# MacOS Files
.DS_Store
/shots
/local.log
