language: node_js
node_js:
  - '6'
deploy:
  provider: npm
  email: thomas.conner@me.com
  api_key:
    secure: fapxP1kpl43CUkTyT/xwW18qDO3Sp/yTXCtWk7xio+1sOKwAnExgIEHJGUW6ZFBcH53bRfjlWzS9rfV0/l/hLymTPEAb54QOFLXIr2nX0RqFAqE+JBotJrz9jLPqIZVgjFXRkXHG3YrNGQrE6Y7On6FGzqFh1BlYdngdyFhXOtWwnZwPc23gmoYnS4L4VrbptX60Z+feU1UiaYnJyUKT62YGbqfrUCgu6AJIfmBzl4C8PR7mzyLUkCkjyzka5wo+1OPcdt4ew8zC9pVp8kY0rHb8/PYismseBZlWNfu9tOHCQvHyTOJ5KSO3Fqe4frjq67HaEuw+yIgT7MZWi/WASYwDUAzb8V3t1mhsgR5BIVVamViw4QWeLQKy7XBPuLIjtZUfGn8ANJf2QjPZIyi1etPTiiRDPCjnLt7C2DrROg8wy4S7K14dt4LjVVNzLs+Fr0v8qcLpyR45N0CNVAnvZI3MAzo9wMF2fFjCSt3+muSeDqVeZrUFKQ/f/apG5oNcweTY+IDK6M+cOQY2UtiKT01MkNj8d8bhge5br/4w1/KZD8EAYoBkzMER2KEygBONDzVHzuD4MUn3BMgoQk8e8yu3cK/1ZKbUZCfm3Dea3SEXJusAZVwmYHHYDoV690uUuCwzLFup/d4jBOFEjTfCAxZpCLXPATT1Gsnc9NVyti0=
  on:
    tags: true
    repo: Kinvey/html5-sdk
notifications:
  email:
    on_success: change
    on_failure: always
  slack:
    on_success: change
    on_failure: always
    secure: CPlElM0uH5z7+7zcIpl8ghTKTejfFL7DdmOtjWRGLgUbta8ftgtELBeEEszJVFtIIjmkZRXL3j17Av43e8jS/6WoI12//vcsO2Wc6PDsZJFUzXffw6CGs9Azmti9L5tzlfT/CbNj6Xl180LZ0QvGYrPYiIEU2PoXp5JeNoKvNv0bkOr8fNyCpMp3ax4Jmg7aLyQW5X3qrrMeURVJmZJWPU6j9OnVSExIhSgqueWvyjojWejgyx9BBTUV7ZzIjy329iYx2/cLsTFIdKesDcuaPY0H2ZZTK3tssAm7+oL7EYpVIFUP/Ko1z+OiXMdE8Fc/osO2HaE4P/CXRxWAzuiBP4N7PwYZ/UKW0Rwh1MJGwjBKxL3uzrPEQBtyT3N5m7KeN9bC/lyVVA6nW1n8UyfgB0ZokPT1+zKVg1KEjxeN1dRBU2ui499Hh7CpPEvpTu6dbb1ABhZ82HLxX5dMX/Y7mAXnqMWu7wRiyyWSDScCinunK0lZ2DhKpgxsJV+IbodYCRSQoyVF/I7rBrUvAcrwQMNsrKAKPXJj7xreK/lvQEf/VrQ89uhCcy8HidbQbNqpjPCtn1QibZHJ9chXXRPmeHh847Y/64vg5DpczkZ7IfrYYYA08QRfvH7kvbjytupcggElZ9gTB7/6TzhWucquGHaPGixvhHvYruq0LWnC30M=
script: npm run cover
after_success:
  - bash <(curl -s https://codecov.io/bash)
