<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <div class="btn-toolbar pull-right">
          <button id="refresh" class="btn btn-primary">Refresh</button>
          <button id="pull" class="btn btn-primary">Pull</button>
          <button id="add" class="btn btn-success">Add</button>
          <button id="remove" class="btn btn-danger">Remove</button>
          <button id="push" class="btn btn-default">Push</button>
          <button id="clear" class="btn btn-danger">Clear</button>
        </div>
        <h1>Books</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
