{
  "extends": [
    "../../.eslintrc"
  ],
  "rules": {
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off"
  },
  "globals": {
    "$", true,
    "angular": true,
    "browser": true,
    "element": true,
    "by": true
  }
}
